#title{
    font-family: 'Raleway', sans-serif;
}

#intro{
    font-family: 'Noto Serif JP', sans-serif;
    text-align: justify;
}
.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.well .row{
    
    padding: 9px;
    
}

#delete-form{
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}